openai
mcp[cli]
python-dotenv
pytest
pytest-asyncio
pytest-mock
uv
mcp-server-sqlite
jsonschema
anthropic
ollama
lmstudio
termcolor
aiofiles
pyyaml
aiohttp
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability